# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = false
csharp_new_line_before_open_brace = all
csharp_new_line_before_while_in_do_statement = false
csharp_new_line_before_else_in_if_statement = false
csharp_new_line_before_catch_in_try_statement = false
csharp_new_line_before_finally_in_try_statement = false
csharp_new_line_before_members_in_object_creation = false
